Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

chore: allow alpha charts publication
  .github/workflows/helm.yml
Labels: none

chore: don't run workflow if modify
  .github/workflows/helm.yml
Labels: none

chore: revert to main
  .github/workflows/helm.yml
Labels: none

chore: allow alpha chart publication (#881)
  .github/workflows/helm.yml
Labels: none

feat: separate`download_function` from `execute_compute_task`
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/tasks/tasks_compute_task.py
Labels: compute-engine

chore: remove unused code
  backend/substrapp/tasks/task.py
Labels: compute-engine

chore: update mocks
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: none

chore: refactor check for pod existence
  backend/substrapp/compute_tasks/execute.py
Labels: compute-engine

doc: changelog
  changes/1520.added
Labels: none

doc: changelog
  changes/1520.added
Labels: none

feat: separate download function from execute task (#883)
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/tasks/task.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  changes/1520.added
Labels: compute-engine

chore: remove task profiling step `build_image`
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: compute-engine

feat: hide `build_image` from previous measurements
  backend/api/serializers/task_profiling.py
Labels: api

doc: changelog
  changes/1517.removed
Labels: none

Revert "wip: bypass ssl check"
  backend/builder/image_builder/image_builder.py
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/docker_registry.py
Labels: none

chore: remove building from task profiling (#884)
  backend/api/serializers/task_profiling.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  changes/1517.removed
Labels: api, compute-engine

fix
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

chore: change to ubuntu base image for docker image
  docker/substra-backend/Dockerfile
Labels: none

chore: reduce number of CVEs in docker image
  docker/substra-backend/Dockerfile
Labels: none

lint
  docker/substra-backend/Dockerfile
Labels: none

chore: ubuntu base image
  docker/substra-backend/Dockerfile
Labels: none

lint
  docker/substra-backend/Dockerfile
Labels: none

chore: rm ca-certificate from dockerfile
  docker/substra-backend/Dockerfile
Labels: none

chore: merge lines
  docker/substra-backend/Dockerfile
Labels: none

lint
  docker/substra-backend/Dockerfile
Labels: none

chore: remove last hich CVEs
  docker/substra-backend/Dockerfile
Labels: none

chore: use venv
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

lint
  docker/substra-backend/Dockerfile
Labels: none

chore: use venv
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

chore: changelog
  changes/866.changed
Labels: none

wip
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

lint
  docker/substra-backend/Dockerfile
Labels: none

chore: reduce number of CVEs in docker image
  docker/substra-backend/Dockerfile
Labels: none

chore: reduce number of CVEs in docker image
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

fix
  docker/substra-backend/Dockerfile
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*
