Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

chore: bump celery
  backend/requirements.txt
Labels: none

chore: run CI in 3.11
  .github/workflows/python.yml
Labels: none

chore: run CI in 3.11 (#874)
  .github/workflows/python.yml
  backend/requirements.txt
Labels: none

feat(helm)!: separate worker serviceAccount.create from rbac.create
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/UPGRADE.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/values.yaml
Labels: none

improve polish
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/README.md
  charts/substra-backend/UPGRADE.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/values.yaml
Labels: none

Fix bugs in helm templates
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
Labels: none

fix typo, update changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/templates/_helpers.tpl
Labels: none

chore: rebase charts changelog
  charts/substra-backend/CHANGELOG.md
Labels: none

chore: add private certificates to kaniko
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: compute-engine

chore: changelog
  CHANGELOG.md
Labels: none

feat(helm)!: separate worker serviceAccount.create from rbac.create (#735)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/UPGRADE.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: switch default S3 storage to MinIO
  changes/878.changed
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: switch default S3 storage to MinIO (#878)
  changes/878.changed
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: docs
  docs/settings.md
Labels: documentation

chore: add private certificates to kaniko (patch version) (#879)
  CHANGELOG.md
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  charts/substra-backend/templates/statefulset-worker.yaml
  docs/settings.md
Labels: documentation, compute-engine

chore: release 0.38.1
  CHANGELOG.md
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: add workflow dispatch for helm publication
  .github/workflows/helm.yml
Labels: none

chore: change helm version
  charts/substra-backend/Chart.yaml
Labels: none

chore: update helm workflow
  .github/workflows/helm.yml
Labels: none

fix: chart version
  charts/substra-backend/Chart.yaml
Labels: none

fix: update helm workflow
  .github/workflows/helm.yml
Labels: none

fix: update helm workflow
  .github/workflows/helm.yml
Labels: none

fix: chart changelog
  charts/substra-backend/CHANGELOG.md
Labels: none

fix: chart changelog
  charts/substra-backend/CHANGELOG.md
Labels: none

chore: update workflow github
  .github/workflows/helm.yml
Labels: none

chore: update workflow github
  .github/workflows/helm.yml
Labels: none

chore: update workflow github
  .github/workflows/helm.yml
Labels: none

feat: add certificates to kaniko
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore: remove unused var
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  charts/substra-backend/templates/statefulset-worker.yaml
  docs/settings.md
Labels: documentation, compute-engine

chore: bump chart version
  charts/substra-backend/Chart.yaml
Labels: none

feat: add certificates to kaniko
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/kubernetes_utils.py
Labels: compute-engine

[sub]feat: add worker certificates to kaniko through secret (#880)
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  docs/settings.md
Labels: documentation, compute-engine

chore: release 0.38.2
  CHANGELOG.md
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix: wrong key in `V1SecretVolumeSource`
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore: rename var
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

[sub] fix: wrong secret name (#882)
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore: release 0.38.3
  CHANGELOG.md
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix: add ca-certificate creation on startup
  backend/substrapp/apps.py
Labels: none

[sub]fix: add ca-certificate creation on startup (#885)
  backend/substrapp/apps.py
Labels: none

chore: release 0.38.4
  CHANGELOG.md
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*
