Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

chore: pass user images as arg
  backend/image_transfer/decoder.py
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore: typo
  .github/workflows/helm.yml
  backend/image_transfer/decoder.py
Labels: none

chore: trigger
  .github/workflows/helm.yml
Labels: none

chore: helm to main
  .github/workflows/helm.yml
Labels: none

chore: add test
  backend/image_transfer/tests/test_decoder.py
Labels: none

bump chart
  charts/substra-backend/Chart.yaml
Labels: none

bump chart
  charts/substra-backend/CHANGELOG.md
Labels: none

chore: change default and explicit change name in orgs
  charts/substra-backend/README.md
  charts/substra-backend/values.yaml
Labels: none

chore: change default and explicit change name in orgs
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  examples/values/backend-org-3.yaml
Labels: none

chore: parametrize user image docker repository (#888)
  backend/backend/settings/common.py
  backend/image_transfer/decoder.py
  backend/image_transfer/tests/test_decoder.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/docker_registry.py
  changes/888.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/configmap-registry.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  examples/values/backend-org-3.yaml
Labels: documentation, compute-engine

revert: add limits and requests to pods (#867)
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

revert: add limits and requests to pods (#867) (#891)
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: add limits and requests to pods (#867)
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: all resources in values
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: all resources in values
  backend/substrapp/tasks/task.py
  charts/substra-backend/README.md
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: lower requests
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: all resources in values
  backend/backend/settings/common.py
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: all resources in values
  backend/substrapp/kubernetes_utils.py
Labels: none

chore: chart version and changelog
  changes/892.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: lower resources
  charts/substra-backend/values.yaml
Labels: none

chore: yaml safe load
  backend/substrapp/kubernetes_utils.py
Labels: none

chore: update chart changelog and readme
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/README.md
Labels: none

chore: update backend documentation
  docs/settings.md
Labels: documentation

fix: bump docker version
  backend/dev-requirements.txt
Labels: none

chore: add limits and requests configuration in values (#867) (#892)
  backend/backend/settings/common.py
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  backend/substrapp/tasks/task.py
  changes/892.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation, compute-engine

chore: request in a separate file
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/resources.yaml
  charts/substra-backend/values.yaml
  skaffold.yaml
Labels: none

feat: add `docker-config` secret
  examples/secrets/secret-harbor-dockerconfig.yaml
  examples/secrets/skaffold.yaml
  skaffold.yaml
Labels: none

fix: use `schemaVersion` version 2 to get entrypoint
  backend/builder/docker.py
  backend/substrapp/docker_registry.py
Labels: none

feat: add credentials to DXF
  backend/image_transfer/common.py
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/tasks/tasks_save_image.py
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: compute-engine

wip: remove certificate validation
  backend/builder/image_builder/image_builder.py
  backend/substrapp/docker_registry.py
  examples/values/backend-org-2-harbor.yaml
  examples/values/harbor.yaml
Labels: none

wip: registries config
  examples/values/backend-org-2-harbor.yaml
  examples/values/harbor.yaml
  registries.yaml
Labels: none

docs: create change fragments
  changes/862.changed
  changes/862.fixed
  changes/862.removed
  charts/changes/862.added
Labels: none

feat: generate certificates for registry
  examples/secrets/secret-harbor-tls.yaml
  examples/secrets/skaffold.yaml
  examples/values/harbor.yaml
Labels: none

wip: most example works
  examples/values/backend-org-2-harbor.yaml
  fixtures/chunantes/metrics/metric0/Dockerfile
  fixtures/owkin/metrics/metric0/Dockerfile
Labels: none

feat: being able to push manually `substra-tools`
  examples/secrets/secret-harbor-dockerconfig.yaml
  examples/values/backend-org-2-harbor.yaml
  examples/values/harbor.yaml
Labels: none

feat: add TLS verification
  backend/builder/image_builder/image_builder.py
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/docker_registry.py
Labels: none

feat: add docker-secret to kubernetes
  backend/substrapp/compute_tasks/compute_pod.py
  charts/substra-backend/templates/statefulset-worker.yaml
  examples/secrets/secret-harbor-dockerconfig.yaml
Labels: compute-engine

chore: remove temporary values
  examples/secrets/secret-harbor-dockerconfig.yaml
  examples/values/backend-org-2-harbor.yaml
  examples/values/harbor.yaml
  registries.yaml
  skaffold.yaml
Labels: none

fix: remove raise in `get_registry_auth`
  backend/substrapp/docker_registry.py
Labels: none

fix: remove useless metadata
  examples/secrets/secret-harbor-dockerconfig.yaml
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*
