Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*

chore(charts/substra-backend): handle whitespaced orgnames
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

chore(charts/substra-backend): bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

chore(charts/substra-backend): handle whitespaced orgnames (#915)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

chore: release 0.46.0-rc1
  CHANGELOG.md
  changes/1517.removed
  changes/1520.added
  changes/862.changed
  changes/862.fixed
  changes/862.removed
  changes/866.changed
  changes/877.added
  changes/878.changed
  changes/888.added
  changes/892.added
Labels: none

chore: release 0.46.0
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: release 0.46.0-rc1
  CHANGELOG.md
Labels: none

chore: release 0.46.0 (#923)
  CHANGELOG.md
  changes/1517.removed
  changes/1520.added
  changes/862.changed
  changes/862.fixed
  changes/862.removed
  changes/866.changed
  changes/877.added
  changes/878.changed
  changes/888.added
  changes/892.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

feat: catch all exceptions on builder to fail properly
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/tasks/tasks_compute_task.py
  changes/911.fixed
Labels: compute-engine

feat: catch all exceptions on builder to fail properly (#911)
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/tasks/tasks_compute_task.py
  changes/911.fixed
Labels: compute-engine

feat: bypass `AssetFailureReport` when internal error (no logs available)
  backend/api/events/sync.py
Labels: api

docs: add change fragment
  changes/924.fixed
Labels: none

feat: add test
  backend/api/tests/test_sync.py
Labels: api

chore: lint
  changes/924.fixed
Labels: none

fix: bypass asset failure creation when internal error (#924)
  backend/api/events/sync.py
  backend/api/tests/test_sync.py
  changes/924.fixed
Labels: api

fix: repackaging `BuildError`
  backend/builder/tasks/tasks_build_image.py
Labels: none

doc: change framgment
  changes/927.fixed
Labels: none

fix: repackaging `BuildError` (#927)
  backend/builder/tasks/tasks_build_image.py
  changes/927.fixed
Labels: none

chore: add seccompprofile to compute function pods
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/Chart.yaml
Labels: none

chore: add and complete pod security context
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.lock
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/job-migrations.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: remove MinIO & Redis PDB that is not supported by the CI runner
  charts/substra-backend/values.yaml
Labels: none

chore: enforce pod security standards (#895)
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.lock
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/job-migrations.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

feat: add values in builder
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
Labels: none

feat: add env var `BUILDER_KANIKO_STARTUP_MAX_ATTEMPTS`& `BUILDER_KANIKO_STARTUP_PENDING_STATE_WAIT_SECONDS`
  backend/backend/settings/deps/image_build.py
  backend/builder/kubernetes.py
Labels: none

chore: bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: remove commented code
  backend/builder/kubernetes.py
Labels: none

doc: update chart changelog
  charts/substra-backend/README.md
Labels: none

chore: update release date
  charts/substra-backend/CHANGELOG.md
Labels: none

feat: configurable kaniko start time (#925)
  backend/backend/settings/deps/image_build.py
  backend/builder/kubernetes.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
Labels: none

fix: add `BUILDER_KANIKO_STARTUP_MAX_ATTEMPTS` & `BUILDER_KANIKO_STARTUP_PENDING_STATE_WAIT_SECONDS` in all pods
  backend/backend/settings/common.py
Labels: none

fix: cast values to int
  backend/backend/settings/deps/image_build.py
Labels: none

fix: wait init migrations lack env var (#929)
  backend/backend/settings/common.py
  backend/backend/settings/deps/image_build.py
Labels: none

feat: retry on timeout connections to external registry
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/docker_registry.py
  changes/917.changed
Labels: none

feat: retry on timeout connections to external registry (#917)
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/docker_registry.py
  changes/917.changed
Labels: none

fix: do not create postgres user by default
  charts/substra-backend/values.yaml
Labels: none

chore: remove default password for postgres user
  charts/substra-backend/values.yaml
Labels: none

chore: charts changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix: remove postgresql user default (#928)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/values.yaml
Labels: none

feat: repackage 412 Harbor error into a user-friendly error
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/docker_registry.py
  backend/substrapp/tasks/tasks_save_image.py
  backend/substrapp/tests/tasks/test_save_image.py
  changes/926.added
  changes/926.fixed
Labels: compute-engine

feat: repackage 412 Harbor error into a user-friendly error (#926)
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/docker_registry.py
  backend/substrapp/tasks/tasks_save_image.py
  backend/substrapp/tests/tasks/test_save_image.py
  changes/926.added
  changes/926.fixed
Labels: compute-engine

chore: release 0.47.0-rc1
  CHANGELOG.md
  changes/911.fixed
  changes/917.changed
  changes/924.fixed
  changes/926.added
  changes/926.fixed
  changes/927.fixed
Labels: none
