Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

feat: add timeout on `save_image` (#1003)
  backend/backend/settings/common.py
  backend/substrapp/tasks/tasks_save_image.py
  changes/1003.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation, compute-engine

fix: remove pinning of `pyopenssl` due to previous deprecation
  backend/requirements.txt
Labels: none

fix: update pytest ignore
  pyproject.toml
Labels: none

fix: change package in ignore
  pyproject.toml
Labels: none

chore: pin pytest-celery
  backend/dev-requirements.txt
Labels: none

chore: remove duplicate watchdog dependency
  backend/dev-requirements.txt
Labels: none

fix: add ignore on deprecation warning
  pyproject.toml
Labels: none

fix: replace `including_default_value_fields` by `always_print_fields_with_no_presence` following changes in `google.protobuf`
  backend/orchestrator/client.py
Labels: none

feat: add `common.waitRedisInitContainer` template
  charts/substra-backend/templates/_helpers.tpl
Labels: none

chore: add `common.waitRedisInitContainer` to resources
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
Labels: none

fix: change timeout
  charts/substra-backend/templates/_helpers.tpl
Labels: none

fix: change timeout
  charts/substra-backend/templates/_helpers.tpl
Labels: none

fix: change timeout
  charts/substra-backend/templates/_helpers.tpl
Labels: none

docs: changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

feat: wait redis on start (#1010)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
Labels: none

chore: replace `init-migrate` in server by `common.waitInitMigrationsInitContainer`
  charts/substra-backend/templates/deployment-server.yaml
Labels: none

fix: add logging
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

chore: apply fixme
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

feat: align `TaskProfiling` with `FunctionProfiling`
  backend/api/tests/views/test_views_profiling.py
  backend/api/urls.py
  backend/api/views/task_profiling.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/utils/test_url.py
  backend/substrapp/utils/url.py
Labels: api, compute-engine

fix: step router
  backend/api/urls.py
  backend/api/views/task_profiling.py
Labels: api

doc: changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix: increase timeout
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

fix: run migration job before launching server, reproducing behavior of `init-migrate`
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

fix: change status check in `wait-init-migrations`
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

fix: run migrations at same time than other deployment
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

fix: add build timeout during task initialisation
  charts/substra-backend/templates/statefulset-builder.yaml
Labels: none

chore: increase default value for `builder.saveImageTimeoutSeconds`
  examples/values/backend-org-1.yaml
Labels: none

fix: increase default value for `builder.saveImageTimeoutSeconds`
  charts/substra-backend/values.yaml
  examples/values/backend-org-1.yaml
Labels: none

fix: add variable to builder
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: update chart changelog
  charts/substra-backend/README.md
Labels: none

fix: save image timeout 2 (#1011)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: replace `init-migrate` in server by `common.waitInitMigrationsInitContainer`
  charts/substra-backend/templates/deployment-server.yaml
Labels: none

chore: apply fixme
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

fix: add logging
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

doc: changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix: change status check in `wait-init-migrations`
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

fix: run migrations at same time than other deployment
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

fix: increase timeout
  charts/substra-backend/templates/configmap-wait-init-migrations.yaml
Labels: none

fix: run migration job before launching server, reproducing behavior of `init-migrate`
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

fix: update chart version in changelog
  charts/substra-backend/CHANGELOG.md
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*
