Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*

feat(charts): update `job-migrations.yaml` to use new commands
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

doc: change fragment
  changes/999.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: remove tqdm
  backend/image_transfer/encoder.py
  backend/requirements.txt
Labels: none

chore: wrap function in try expects with logs
  backend/image_transfer/encoder.py
Labels: none

chore: changelog
  changes/990.removed
Labels: none

chore: add logging
  backend/image_transfer/encoder.py
Labels: none

chore: change logger
  backend/image_transfer/encoder.py
Labels: none

chore: fix event logger
  backend/image_transfer/encoder.py
Labels: none

chore: typo
  changes/990.removed
Labels: none

chore: remove tqdm (#990)
  backend/image_transfer/encoder.py
  backend/requirements.txt
  changes/990.removed
Labels: none

chore: change updateStrategy of the server and the registry
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: change updateStrategy of the server and the registry (#1000)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/values.yaml
Labels: none

chore(charts): bump defaut kaniko version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/values.yaml
Labels: none

docs(charts): update README
  charts/substra-backend/README.md
Labels: none

chore(charts): bump defaut kaniko version (#968)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/values.yaml
Labels: none

feat: start cp timer when status changed to `PLAN_STATUS_DOING`
  backend/api/models/computeplan.py
Labels: api

doc: change fragment
  changes/998.changed
Labels: none

fix: tests
  backend/api/tests/models/test_models_computeplan.py
Labels: api

chore: rename `ComputePlan.update_dates` to `ComputePlan.update_end_date`
  backend/api/events/sync.py
  backend/api/models/computeplan.py
  backend/api/views/computetask.py
Labels: api

feat: cp duration starts with build (#998)
  backend/api/events/sync.py
  backend/api/models/computeplan.py
  backend/api/tests/models/test_models_computeplan.py
  backend/api/views/computetask.py
  changes/998.changed
Labels: api

feat: tests
  backend/builder/tests/test_image_builder.py
  backend/builder/tests/test_kubernetes.py
Labels: none

chore: remove useless ,
  backend/builder/tests/test_image_builder.py
Labels: none

fix: replace `max_attempts` in logs by correct value (`BUILDER_KANIKO_STARTUP_MAX_ATTEMPTS`)
  backend/builder/kubernetes.py
Labels: none

fix: pending error not repackaged (#993)
  backend/builder/kubernetes.py
  backend/builder/tests/test_image_builder.py
  backend/builder/tests/test_kubernetes.py
Labels: none

fix(charts): update path for `server.spec.strategy.type`
  charts/substra-backend/templates/deployment-server.yaml
Labels: none

chore: bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

fix(charts): update path for `server.spec.strategy.type` (#1001)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/deployment-server.yaml
Labels: none

chore: change default value for `IMAGE_BUILD_TIMEOUT`
  backend/backend/settings/deps/image_build.py
Labels: none

feat: add `builder.timeout` to change `IMAGE_BUILD_TIMEOUT`
  backend/backend/settings/deps/image_build.py
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: remove unused `IMAGE_BUILD_TIMEOUT`
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore: update chart changelog
  charts/substra-backend/README.md
Labels: none

feat: add test for `substrap.lock_local.lock_resource`
  backend/substrapp/tests/test_lock_local.py
Labels: none

fix: replace `Exception` by `LockError` as `Exception` does not accept custom named arguments
  backend/substrapp/exceptions.py
  backend/substrapp/lock_local.py
  backend/substrapp/tests/test_lock_local.py
Labels: none

doc: update chart changelog
  charts/substra-backend/CHANGELOG.md
Labels: none

doc: change fragment
  changes/992.added
Labels: none

feat: make image builder timeout configurable (#992)
  backend/backend/settings/deps/image_build.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/exceptions.py
  backend/substrapp/lock_local.py
  backend/substrapp/tests/test_lock_local.py
  changes/992.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

feat: remove `django-celery-results` and replace by redis
  backend/backend/settings/api/events/common.py
  backend/backend/settings/common.py
  backend/backend/settings/deps/celery.py
  backend/backend/settings/dev.py
  backend/backend/settings/prod.py
  backend/backend/settings/worker/events/common.py
  backend/requirements.txt
Labels: none

doc: change fragment
  changes/995.changed
Labels: none

feat: remove `django-celery-results` and replace by redis (#995)
  backend/backend/settings/api/events/common.py
  backend/backend/settings/common.py
  backend/backend/settings/deps/celery.py
  backend/backend/settings/dev.py
  backend/backend/settings/prod.py
  backend/backend/settings/worker/events/common.py
  backend/requirements.txt
  changes/995.changed
Labels: none

chore: create alpha chart
  charts/substra-backend/Chart.yaml
Labels: none
