Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

chore: change to ubuntu base image for docker image (#866)
  changes/866.changed
  docker/substra-backend/Dockerfile
Labels: none

chore: remove unused var
  backend/backend/settings/common.py
  charts/substra-backend/templates/statefulset-builder.yaml
  docs/settings.md
Labels: documentation

chore: update doc
  docs/settings.md
Labels: documentation

wip: update kaniko certs
  backend/builder/image_builder/image_builder.py
Labels: none

chore: add busybox in kaniko to test
  backend/builder/image_builder/image_builder.py
Labels: none

wip: add rbac to builder
  backend/builder/image_builder/image_builder.py
  charts/substra-backend/templates/rbac.yaml
Labels: none

chore: bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: add certificate to kaniko
  backend/backend/settings/common.py
  backend/builder/image_builder/image_builder.py
  charts/substra-backend/templates/statefulset-builder.yaml
Labels: none

chore: changelog
  backend/builder/image_builder/image_builder.py
  changes/877.added
Labels: none

wip: add rbac to builder
  backend/builder/image_builder/image_builder.py
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/values.yaml
Labels: none

doc: annotation for `builder.serviceAccount`
  charts/substra-backend/README.md
  charts/substra-backend/values.yaml
Labels: none

chore: rename var
  backend/builder/image_builder/image_builder.py
Labels: none

feat: add certificates to kaniko
  backend/builder/apps.py
  backend/builder/image_builder/image_builder.py
  backend/builder/kubernetes.py
Labels: none

feat: add privateCa to kaniko pods (#877)
  backend/backend/settings/common.py
  backend/builder/apps.py
  backend/builder/image_builder/image_builder.py
  backend/builder/kubernetes.py
  changes/877.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation

chore: move `privateCa.configMap` to `privateCa.secret`
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/configmap-private-ca.yaml
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  examples/values/backend-org-3.yaml
Labels: none

chore: rename `configmap-private-ca` in `secret-private-ca`
  charts/substra-backend/templates/secret-private-ca.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: change `orchestrator-tls-cacert` to use secret instead of configmaps
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

docs: changelog
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

docs: readme
  charts/substra-backend/README.md
Labels: none

fix: move more config to secrets (#889)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/configmap-private-ca.yaml
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-scheduler-worker.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/secret-private-ca.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  examples/values/backend-org-3.yaml
Labels: none

chore: add limits and requests to pods
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore(helm): test workflow
  .github/workflows/helm.yml
Labels: none

chore(chart): alpha chart version
  charts/substra-backend/Chart.yaml
Labels: none

chore: add limits and requests to pods (#867)
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: docker user registry parametrized in values
  backend/backend/settings/common.py
  backend/substrapp/docker_registry.py
  charts/substra-backend/templates/configmap-registry.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation

chore: changelog
  changes/888.added
Labels: none

typo
  charts/substra-backend/values.yaml
Labels: none

chore: rename user image repository
  backend/substrapp/docker_registry.py
Labels: none

rebase
  charts/substra-backend/CHANGELOG.md
Labels: none

update readme
  charts/substra-backend/README.md
Labels: none

rebase
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

test
  .github/workflows/helm.yml
Labels: none

test alpha
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

revert test workflow
  .github/workflows/helm.yml
  charts/substra-backend/Chart.yaml
  examples/values/backend-org-1.yaml
Labels: none

chore: parametrize mage name
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/image_transfer/tests/test_decoder.py
  backend/substrapp/docker_registry.py
Labels: none

chore: typo
  backend/substrapp/docker_registry.py
Labels: none

chore: trigger
  .github/workflows/helm.yml
Labels: none

chore: trigger
  .github/workflows/helm.yml
Labels: none

chore: typo
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/image_transfer/tests/test_decoder.py
Labels: none

chore: branch helm gha
  .github/workflows/helm.yml
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*
