Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*

feat: update `base_sync.py` to use instance level deletion
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_outgoing_organizations.py
  backend/users/management/commands/sync_users.py
Labels: none

feat: update `base_sync.py` to use instance level deletion
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_outgoing_organizations.py
  backend/users/management/commands/sync_users.py
Labels: none

fix: user creation with `sync_user` didn't work as expected
  backend/users/management/commands/sync_users.py
Labels: none

chore: manually change compute plan user when deleting
  backend/users/management/commands/sync_users.py
Labels: none

feat: prevent virtual users (external & deleted) to be removed
  backend/users/management/commands/sync_users.py
Labels: none

fix: change import to `django.conf`
  backend/users/management/commands/sync_users.py
Labels: none

feat: add sync base for orgs
  backend/organization/management/commands/base_sync_organization.py
Labels: none

feat: add sync for incoming organization
  backend/organization/management/commands/sync_incoming_organization.py
Labels: none

feat: add sync for outgoing organization
  backend/organization/management/commands/base_sync_organization.py
  backend/organization/management/commands/sync_outgoing_organization.py
Labels: none

feat: replace `BaseSyncOrganizationCommand` by `BaseSyncCommand`
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_incoming_organization.py
  backend/organization/management/commands/sync_outgoing_organization.py
Labels: none

feat: add get in `BaseSyncCommand`
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_outgoing_organization.py
Labels: none

feat(charts): update `job-migrations.yaml` to use new commands
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

feat: add user sync
  backend/users/management/commands/sync_users.py
Labels: none

chore: remove unused init
  backend/organization/management/commands/sync_incoming_organization.py
  backend/organization/management/commands/sync_outgoing_organization.py
Labels: none

chore: add plural to sync commands to reflect feature
  backend/organization/management/commands/sync_incoming_organizations.py
  backend/organization/management/commands/sync_outgoing_organizations.py
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

chore: remove unused logger
  backend/organization/management/commands/base_sync.py
Labels: none

doc: change fragment
  changes/999.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

feat: update `base_sync.py` to use instance level deletion
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_outgoing_organizations.py
  backend/users/management/commands/sync_users.py
Labels: none

chore: manually change compute plan user when deleting
  backend/users/management/commands/sync_users.py
Labels: none

fix: change import to `django.conf`
  backend/users/management/commands/sync_users.py
Labels: none

feat: prevent virtual users (external & deleted) to be removed
  backend/users/management/commands/sync_users.py
Labels: none

fix: user creation with `sync_user` didn't work as expected
  backend/users/management/commands/sync_users.py
Labels: none

fix: add account operator does not synchronise content (#999)
  backend/organization/management/commands/base_sync.py
  backend/organization/management/commands/sync_incoming_organizations.py
  backend/organization/management/commands/sync_outgoing_organizations.py
  backend/users/management/commands/sync_users.py
  changes/999.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/job-migrations.yaml
Labels: none

fix: kaniko build cache
  backend/builder/image_builder/image_builder.py
Labels: none

fix: kaniko build cache (#940)
  backend/builder/image_builder/image_builder.py
Labels: none

feat: add tests
  backend/builder/tests/test_image_builder.py
Labels: none

fix: add annotation to tests
  backend/builder/tests/test_task_build_image.py
Labels: none

feat: add `image_builder.check_function_is_runnable`
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/tasks_build_image.py
Labels: none

doc: change fragment
  changes/997.added
Labels: none

fix: use real uuid in `test_check_function_is_runnable`
  backend/builder/tests/test_image_builder.py
Labels: none

feat: change order which check CP status
  backend/api/models/computeplan.py
Labels: api

feat: add `BuildCanceledError`
  backend/builder/exceptions.py
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/task.py
  backend/builder/tasks/tasks_build_image.py
Labels: none

feat: add `Function.cancel()`
  backend/api/models/function.py
Labels: api

fix: db call on `test_check_function_is_runnable`
  backend/builder/tests/test_image_builder.py
Labels: none

feat: check computeplans before running function (#997)
  backend/api/models/computeplan.py
  backend/api/models/function.py
  backend/builder/exceptions.py
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/task.py
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_image_builder.py
  backend/builder/tests/test_task_build_image.py
  changes/997.added
Labels: api

feat: add timeout on `save_image`
  backend/substrapp/tasks/tasks_save_image.py
Labels: compute-engine

chore: update doc
  docs/settings.md
Labels: documentation

fix: int parsing for `IMAGE_SAVING_TIMEOUT_SECONDS`
  backend/backend/settings/common.py
Labels: none

feat: add chart value in env var to configure `SaveImageTask` timeout
  backend/backend/settings/common.py
  backend/substrapp/tasks/tasks_save_image.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

doc: change fragment
  changes/1003.added
Labels: none
