Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*

chore: release 0.47.0
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: release 0.47.0 (#930)
  CHANGELOG.md
  changes/911.fixed
  changes/917.changed
  changes/924.fixed
  changes/926.added
  changes/926.fixed
  changes/927.fixed
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

feat: update protobuf definitions
  backend/orchestrator/common_pb2.py
  backend/orchestrator/common_pb2.pyi
  backend/orchestrator/event_pb2.py
  backend/orchestrator/event_pb2.pyi
  backend/orchestrator/profiling_pb2.py
  backend/orchestrator/profiling_pb2.pyi
  backend/orchestrator/profiling_pb2_grpc.py
  backend/orchestrator/profiling_pb2_grpc.pyi
Labels: none

feat: save `FunctionProfilingStep` when event is received
  backend/api/events/sync.py
  backend/api/migrations/0060_functionprofilingstep.py
  backend/api/models/__init__.py
  backend/api/models/task_profiling.py
  backend/orchestrator/__init__.py
Labels: api

chore: move `get_orchestrator_client` from `substrapp.orchestrator` to `orchestrator`
  backend/api/events/reactor.py
  backend/api/views/computeplan.py
  backend/api/views/computetask.py
  backend/api/views/datamanager.py
  backend/api/views/datasample.py
  backend/api/views/function.py
  backend/backend/views.py
  backend/builder/tasks/task.py
  backend/libs/health_check_middleware.py
  backend/orchestrator/__init__.py
  backend/orchestrator/client.py
  backend/organization_register/apps.py
  backend/substrapp/compute_tasks/context.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/compute_tasks/outputs.py
  backend/substrapp/events/reactor.py
  backend/substrapp/orchestrator.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
  backend/substrapp/tasks/tasks_compute_plan.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tasks/tasks_outputs.py
  backend/substrapp/tasks/tasks_save_image.py
Labels: api, compute-engine

feat: propagate function profiling through orchestrator
  backend/builder/tasks/tasks_build_image.py
  backend/orchestrator/client.py
  backend/orchestrator/resources.py
  backend/substrapp/tasks/tasks_save_image.py
Labels: compute-engine

fixup! fix: mocks paths in test
  backend/builder/tests/test_task_build_image.py
Labels: none

doc: changelog
  changes/1519.added
  changes/1519.changed
Labels: none

fix: mocks paths in test
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/tests/compute_tasks/test_outputs.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: none

chore: add test for Harbor 412 repackaging
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/docker_registry.py
  backend/substrapp/tasks/task.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/compute_tasks/test_compute_task.py
Labels: compute-engine

chore: add test for Harbor 412 repackaging (#931)
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/docker_registry.py
  backend/substrapp/tasks/task.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/compute_tasks/test_compute_task.py
Labels: compute-engine

fix: casting when receiving `FunctionProfilingStep`
  backend/api/events/sync.py
Labels: api

docs: add change fragment
  changes/932.fixed
Labels: none

fix: casting when receiving `FunctionProfilingStep` (#932)
  backend/api/events/sync.py
  changes/932.fixed
Labels: api

fix: add `role-internet-egress` to the worker
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

chore: remove `-registry-remote-egress`
  charts/substra-backend/templates/networkpolicy-registry-remote.yaml
Labels: none

docs: bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

wip: create alpha
  charts/substra-backend/Chart.yaml
Labels: none

chore: bump chart version
  charts/substra-backend/Chart.yaml
Labels: none

fix: netpol allow worker internet (#933)
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/networkpolicy-registry-remote.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

chore: toYaml
  backend/substrapp/compute_tasks/compute_pod.py
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: affinite and access mode to values
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

wip: use affinity from env var
  backend/substrapp/compute_tasks/compute_pod.py
Labels: compute-engine

chore: toYaml
  charts/substra-backend/values.yaml
Labels: none

chore: podname to hostname
  charts/substra-backend/values.yaml
Labels: none

chore: add node selector and tolerations for compute pod
  backend/substrapp/compute_tasks/compute_pod.py
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: change access mode
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

feat: create env var `POD_NAME` and `COMPUTE_POD_AFFINITY` to replace dynamically generated pod affinity for compute pod
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

Update charts/substra-backend/values.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: typo yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: alpha release
  backend/substrapp/compute_tasks/compute_pod.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/changes/935.changed
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

chore: chart doc
  charts/substra-backend/README.md
Labels: none

chore: typo
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none

chore: access modes
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: none

chore: pass persistence.storageClass to backend chart
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

chore: chart alpha.1
  charts/substra-backend/Chart.yaml
Labels: none

chore(dev): remove storageClassName
  charts/substra-backend/templates/statefulset-worker.yaml
Labels: none

chore: alpha.2
  charts/substra-backend/Chart.yaml
Labels: none

chore(charts): allow local oidc provider
  charts/substra-backend/templates/networkpolicy-server.yaml
  charts/substra-backend/values.yaml
Labels: none

chore(charts): bump chart version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
Labels: none
