Repository Substra/substra-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: api, chart, documentation, compute-engine

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: backend/api/**/*

chart:
- changed-files:
  - any-glob-to-any-file: chart/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

compute-engine:
- changed-files:
  - any-glob-to-any-file:
    - backend/substrapp/compute_tasks/**/*
    - backend/substrapp/tasks/**/*

chore: remove debug logging
  backend/substrapp/clients/organization.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

chore(dev): bump to alpha.4 for more logs
  backend/substrapp/clients/organization.py
Labels: none

feat: allow custom compute pod affinities, nodeSelector and tolerations (#935)
  backend/image_transfer/encoder.py
  backend/substrapp/clients/organization.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/compute_tasks/image_builder.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/changes/935.changed
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

feat: add `FunctionProfilingSerializer` and `FunctionProfilingStepSerializer`
  backend/api/serializers/__init__.py
  backend/api/serializers/task_profiling.py
Labels: api

fix: save duration from `FunctionProfilingStep` in microseconds instead of seconds
  backend/api/events/sync.py
  backend/api/migrations/0061_fix_duration_function_profiling_step.py
Labels: api

feat: add views for function profiling
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/task_profiling.py
Labels: api

fix: do not return function duration when it is not done
  backend/api/serializers/task_profiling.py
Labels: api

feat: add test to get function profiling
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_profiling.py
Labels: api

docs: add comment on total duration behavior
  backend/api/serializers/task_profiling.py
Labels: api

doc: add change fragments
  changes/1410.added
  changes/1410.fixed
Labels: none

feat: add test to function profiling step received from orchestrator
  backend/api/tests/test_sync.py
Labels: api

feat: function profiling (#949)
  backend/api/events/sync.py
  backend/api/migrations/0061_fix_duration_function_profiling_step.py
  backend/api/serializers/__init__.py
  backend/api/serializers/task_profiling.py
  backend/api/tests/test_sync.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_profiling.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/task_profiling.py
  changes/1410.added
  changes/1410.fixed
Labels: api

fix: change basename for `ModelPermissionViewSet`
  backend/api/serializers/model.py
  backend/api/tests/views/test_views_model.py
  backend/api/urls.py
  backend/substrapp/compute_tasks/outputs.py
Labels: api, compute-engine

fix: change basename for `FunctionPermissionViewSet`
  backend/api/serializers/computetask.py
  backend/api/serializers/function.py
  backend/api/tests/views/test_utils.py
  backend/api/tests/views/test_views_authentication.py
  backend/api/tests/views/test_views_function.py
  backend/api/urls.py
  backend/api/views/function.py
  backend/substrapp/tasks/tasks_save_image.py
Labels: api, compute-engine

fix: change basename for `DataManagerPermissionViewSet`
  backend/api/serializers/datamanager.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/urls.py
  backend/api/views/datamanager.py
Labels: api

fix: change basename for `ComputeTaskPermissionViewSet`
  backend/api/urls.py
Labels: api

fix: change fragment ID from ticket ID to PR id
  changes/886.added
  changes/886.changed
  changes/949.added
  changes/949.fixed
  changes/958.fixed
Labels: none

fix: change fragment ID from ticket ID to PR id (#960)
  changes/886.added
  changes/886.changed
  changes/949.added
  changes/949.fixed
  changes/958.fixed
Labels: none

chore(charts): bump defaut kaniko version
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/values.yaml
Labels: none

docs(charts): update README
  charts/substra-backend/README.md
Labels: none

chore(backend): force token expire
  backend/users/serializers/token.py
Labels: none

chore: move `get_error_type`
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
  backend/substrapp/tests/compute_tasks/test_errors.py
  backend/substrapp/tests/tasks/test_store_asset_failure_report.py
Labels: compute-engine

feat: create `_BuildError` as base error for build error
  backend/builder/exceptions.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
Labels: compute-engine

doc: change fragment
  charts/substra-backend/changes/970.fixed
Labels: none

chore(token): token always expires
  backend/users/models/token.py
  backend/users/serializers/token.py
Labels: none

chore(migrations): alter bearer token expires at
  backend/users/migrations/0008_alter_bearertoken_expires_at.py
  backend/users/models/token.py
Labels: none

chore(changelog): update changelog
  changes/969.changed
Labels: none

chore: add towncrier changelog workflow
  .github/workflows/towncrier-changelog.yml
Labels: none

chore: add towncrier changelog workflow (#971)
  .github/workflows/towncrier-changelog.yml
Labels: none

chore: move `get_error_type`
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
  backend/substrapp/tests/compute_tasks/test_errors.py
  backend/substrapp/tests/tasks/test_store_asset_failure_report.py
Labels: compute-engine

feat: create `_BuildError` as base error for build error
  backend/builder/exceptions.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
Labels: compute-engine

chore: refactor `get_error_type`
  backend/substrapp/tasks/tasks_asset_failure_report.py
Labels: compute-engine

chore: move change fragment `970.fixed` to the correct place
  changes/970.fixed
Labels: none

doc: change fragment
  charts/substra-backend/changes/970.fixed
Labels: none

chore: ignore type error
  backend/substrapp/tasks/tasks_asset_failure_report.py
Labels: compute-engine

fix: store asset failure report supports exception without logs (#970)
  backend/builder/exceptions.py
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
  backend/substrapp/tests/compute_tasks/test_errors.py
  backend/substrapp/tests/tasks/test_store_asset_failure_report.py
  changes/970.fixed
Labels: compute-engine

chore(token): token always expires
  backend/users/models/token.py
  backend/users/serializers/token.py
Labels: none

chore(changelog): update changelog
  changes/969.changed
Labels: none

chore(migrations): alter bearer token expires at
  backend/users/migrations/0008_alter_bearertoken_expires_at.py
  backend/users/models/token.py
Labels: none

fix: path in profile `three-orgs` in `examples/secrets/skaffold.yaml`
  examples/secrets/skaffold.yaml
Labels: none
