Repository Substra/substra-backend, pull requests merged in 2022-09, with the labels that each got.

#449 chore: split substrapp utils
  backend/api/errors.py
  backend/api/tests/common.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_utils.py
  backend/api/tests/views/test_views_algo.py
  backend/api/tests/views/test_views_authentication.py
  backend/api/tests/views/test_views_compute_plan_graph.py
  backend/api/tests/views/test_views_computeplan.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/tests/views/test_views_datasample.py
  backend/api/tests/views/test_views_info.py
  backend/api/tests/views/test_views_metadata.py
  backend/api/tests/views/test_views_model.py
  backend/api/tests/views/test_views_newsfeed.py
  backend/api/tests/views/test_views_performance.py
  backend/api/tests/views/test_views_task_profiling.py
  backend/api/views/computeplan.py
  backend/api/views/computetask.py
  backend/api/views/datasample.py
  backend/api/views/exception_handler.py
  backend/api/views/model.py
  backend/api/views/utils.py
  backend/organization/tests/views/test_views_organization.py
  backend/substrapp/exceptions.py
  backend/substrapp/tests/common.py
  backend/users/tests/test_user.py
Labels: api

#454 refactor: orchestrator client return info object
  backend/api/tests/views/test_views_info.py
  backend/backend/views.py
  backend/orchestrator/client.py
  backend/orchestrator/resources.py
Labels: api

#455 refactor: remove parent task key on creation
  backend/api/tests/views/test_views_computetask.py
  backend/api/views/computetask.py
  backend/orchestrator/algo_pb2.pyi
  backend/orchestrator/algo_pb2_grpc.pyi
  backend/orchestrator/common_pb2.pyi
  backend/orchestrator/computeplan_pb2.pyi
  backend/orchestrator/computeplan_pb2_grpc.pyi
  backend/orchestrator/computetask_pb2.py
  backend/orchestrator/computetask_pb2.pyi
  backend/orchestrator/computetask_pb2_grpc.pyi
  backend/orchestrator/datamanager_pb2.pyi
  backend/orchestrator/datamanager_pb2_grpc.pyi
  backend/orchestrator/datasample_pb2.pyi
  backend/orchestrator/datasample_pb2_grpc.pyi
  backend/orchestrator/dataset_pb2.pyi
  backend/orchestrator/dataset_pb2_grpc.pyi
  backend/orchestrator/event_pb2.pyi
  backend/orchestrator/event_pb2_grpc.pyi
  backend/orchestrator/failure_report_pb2.pyi
  backend/orchestrator/failure_report_pb2_grpc.pyi
  backend/orchestrator/info_pb2.pyi
  backend/orchestrator/info_pb2_grpc.pyi
  backend/orchestrator/model_pb2.py
  backend/orchestrator/model_pb2.pyi
  backend/orchestrator/model_pb2_grpc.py
  backend/orchestrator/model_pb2_grpc.pyi
  backend/orchestrator/organization_pb2.pyi
  backend/orchestrator/organization_pb2_grpc.pyi
  backend/orchestrator/performance_pb2.pyi
  backend/orchestrator/performance_pb2_grpc.pyi
Labels: api

#459 refactor: asset buffer
  backend/substrapp/compute_tasks/asset_buffer.py
  backend/substrapp/tests/compute_tasks/test_asset_buffer.py
Labels: compute-engine

#440 chore: split event app
  backend/api/events/__init__.py
  backend/api/events/dynamic_fields.py
  backend/api/events/health.py
  backend/api/events/reactor.py
  backend/api/events/sync.py
  backend/api/management/commands/consume.py
  backend/backend/settings/api/events/__init__.py
  backend/backend/settings/api/events/common.py
  backend/backend/settings/api/events/dev.py
  backend/backend/settings/api/events/prod.py
  backend/backend/settings/events/common.py
  backend/backend/settings/worker/events/__init__.py
  backend/backend/settings/worker/events/common.py
  backend/backend/settings/worker/events/dev.py
  backend/backend/settings/worker/events/prod.py
  backend/substrapp/events/__init__.py
  backend/substrapp/events/handler_compute_engine.py
  backend/substrapp/events/health.py
  backend/substrapp/events/reactor.py
  backend/substrapp/events/tests/__init__.py
  backend/substrapp/events/tests/test_handler_compute_engine.py
  backend/substrapp/management/commands/consume.py
  backend/substrapp/migrations/0011_workerlastevent.py
  backend/substrapp/models/__init__.py
  backend/substrapp/models/worker_last_event.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/values.yaml
  docker/substra-backend/Dockerfile
  docs/settings.md
  skaffold.yaml
  tools/build_settings_doc.py
Labels: documentation, enhancement, api

#460 feat: accept ALGO_UNKNOWN as a valid Algo category
  CHANGELOG.md
  backend/api/migrations/0034_alter_algo_category.py
  backend/api/models/algo.py
Labels: api

#462 feat: remove delete_intermediary_models field from the compute_plan view
  CHANGELOG.md
  backend/api/events/reactor.py
  backend/api/migrations/0035_remove_computeplan_delete_intermediary_models.py
  backend/api/models/computeplan.py
  backend/api/serializers/computeplan.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_computeplan.py
  backend/api/views/computeplan.py
Labels: api

#451 feat: api response based on output asset
  CHANGELOG.md
  backend/api/events/sync.py
  backend/api/management/commands/generate_fixtures.py
  backend/api/serializers/computetask.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_computetask.py
Labels: api

#464 feat: stop cleaning up models using delete_intermediary_models
  backend/substrapp/events/handler_compute_engine.py
  backend/substrapp/events/reactor.py
  backend/substrapp/events/tests/test_handler_compute_engine.py
  backend/substrapp/tasks/__init__.py
  backend/substrapp/tasks/tasks_remove_intermediary_models.py
Labels: compute-engine

#467 docs: add a new architecture document
  docs/Makefile
  docs/architecture.md
  docs/asset-buffer.md
  docs/celery_queuing.md
  docs/schemas/asset-buffer.png
  docs/schemas/asset-buffer.svg
  docs/schemas/c4-context-backend.mmd
  docs/schemas/c4-context-backend.svg
  docs/schemas/reset-password-flow.png
  docs/schemas/reset-password-flow.svg
  docs/schemas/reset-password-request.png
  docs/schemas/reset-password-request.svg
  docs/user_management.md
Labels: documentation

#469 refactor: remove unused code
  backend/substrapp/compute_tasks/context.py
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/tests/common.py
  backend/substrapp/tests/compute_tasks/test_command.py
  backend/substrapp/tests/orchestrator_factory.py
  backend/substrapp/utils/__init__.py
Labels: compute-engine

#472 feat: update following the metric change in substratools
  CHANGELOG.md
  backend/substrapp/compute_tasks/command.py
  backend/substrapp/tests/compute_tasks/test_command.py
  fixtures/chunantes/metrics/metric0/metrics.py
  fixtures/owkin/metrics/metric0/metrics.py
Labels: compute-engine

#473 fix: pass substra-tools arguments via a file
  CHANGELOG.md
  backend/substrapp/compute_tasks/command.py
  backend/substrapp/compute_tasks/directories.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/compute_tasks/volumes.py
  backend/substrapp/tests/compute_tasks/test_command.py
  backend/substrapp/tests/compute_tasks/test_execute.py
Labels: compute-engine

#436 refactor!: remove model categories
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0037_remove_model_category.py
  backend/api/models/model.py
  backend/api/serializers/computetask.py
  backend/api/serializers/model.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_model.py
  backend/api/views/model.py
Labels: api

#478 feat: allow configuring gRPC keepalive
  CHANGELOG.md
  backend/backend/settings/common.py
  backend/backend/settings/deps/orchestrator.py
  backend/backend/settings/test.py
  backend/substrapp/orchestrator.py
  docs/settings.md
Labels: documentation

#470 feat: add output identifier in compute plan perf api
  CHANGELOG.md
  backend/api/serializers/performance.py
  backend/api/tests/views/test_views_performance.py
Labels: api

#468 feat: prevent use of '__' in asset metadata keys
  CHANGELOG.md
  backend/api/tests/views/test_utils.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/views/algo.py
  backend/api/views/computeplan.py
  backend/api/views/computetask.py
  backend/api/views/datamanager.py
  backend/api/views/utils.py
  backend/orchestrator/client.py
  backend/orchestrator/resources.py
Labels: api

#488 fix: set ingressClassName correctly on the Ingress resource
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/ingress.yaml
Labels: chart

#490 fix: remove temporary model category stub
  backend/substrapp/compute_tasks/outputs.py
  backend/substrapp/tests/compute_tasks/test_outputs.py
Labels: compute-engine

#483 feat: record container build error logs
  CHANGELOG.md
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/kubernetes_utils.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/compute_tasks/test_errors.py
  backend/substrapp/tests/compute_tasks/test_image_builder.py
  backend/substrapp/tests/tasks/test_compute_task.py
  tools/build_settings_doc.py
Labels: compute-engine

#489 test: rename factory for files
  backend/api/management/commands/generate_fixtures.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_algo.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/tests/views/test_views_model.py
Labels: api

#474 refactor: Use algo_key from orc instead of algo
  CHANGELOG.md
  backend/api/tests/views/test_views_computetask.py
  backend/orchestrator/computetask.py
  backend/orchestrator/computetask_pb2.py
  backend/orchestrator/computetask_pb2.pyi
  backend/orchestrator/model_pb2.py
  backend/orchestrator/model_pb2.pyi
  backend/orchestrator/resources.py
Labels: api

#471 test: provide algo inputs outputs to factory
  backend/api/management/commands/generate_fixtures.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_algo.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_model.py
  backend/api/tests/views/test_views_performance.py
Labels: api

#487 refactor: remove algo category from schemas and models
  CHANGELOG.md
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0038_remove_algo_category.py
  backend/api/models/algo.py
  backend/api/serializers/algo.py
  backend/api/serializers/computetask.py
  backend/api/tests/asset_factory.py
  backend/api/tests/serializers/test_model.py
  backend/api/tests/views/test_views_algo.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_performance.py
  backend/api/views/algo.py
  backend/orchestrator/algo_pb2.py
  backend/orchestrator/algo_pb2.pyi
  backend/substrapp/compute_tasks/outputs.py
  backend/substrapp/tests/common.py
  backend/substrapp/tests/compute_tasks/conftest.py
Labels: api, compute-engine

#477 feat(workflow_graph): Added the input and output kinds in response
  CHANGELOG.md
  backend/api/tests/views/test_views_compute_plan_graph.py
  backend/api/views/compute_plan_graph.py
Labels: api

#493 fix: generate fixtures command after removing algo category
  backend/api/management/commands/generate_fixtures.py
Labels: api

#491 fix: api migration 028
  CHANGELOG.md
  backend/api/migrations/0028_data_migration_compute_task_output.py
Labels: api

#492 chore: clean task tests
  backend/api/tests/views/test_views_computetask.py
Labels: api

#484 fix: Allow to set CSRF_TRUSTED_ORIGINS
  CHANGELOG.md
  backend/backend/settings/common.py
  docs/settings.md
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
Labels: documentation

#476 feat: single generic task view
  CHANGELOG.md
  backend/api/events/sync.py
  backend/api/serializers/__init__.py
  backend/api/serializers/computetask.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/computetask.py
Labels: api

#498 docs: Remove RabbitMQ patch for Apple Silicon chips
  CHANGELOG.md
  README.md
Labels: documentation
