Repository Substra/substra-backend, pull requests merged in 2022-10, with the labels that each got.

#508 fix: compute task outputs/inputs valid storage address
  CHANGELOG.md
  backend/api/serializers/computetask.py
Labels: api

#495 chore: improve test data with real cp topologies
  backend/api/management/commands/generate_fixtures.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_algo.py
  backend/api/tests/views/test_views_computetask.py
Labels: api

#496 feat: new endpoints to list input/output assets
  CHANGELOG.md
  backend/api/serializers/__init__.py
  backend/api/serializers/computetask.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/views/computetask.py
Labels: api

#479 feat: create and use create model api for compute task output
  CHANGELOG.md
  backend/api/views/model.py
  backend/substrapp/compute_tasks/outputs.py
  backend/substrapp/tests/compute_tasks/test_outputs.py
Labels: api, compute-engine

#512 docs: add auth doc
  docs/authentication.md
Labels: documentation

#516 feat: accept unknown category
  CHANGELOG.md
  backend/api/migrations/0040_alter_computeplan_failed_task_category_and_more.py
  backend/api/models/computetask.py
Labels: api

#518 refactor: remove task category from compute engine
  CHANGELOG.md
  backend/substrapp/compute_tasks/command.py
  backend/substrapp/compute_tasks/context.py
  backend/substrapp/compute_tasks/volumes.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/compute_tasks/conftest.py
  backend/substrapp/tests/compute_tasks/test_asset_buffer.py
  backend/substrapp/tests/compute_tasks/test_command.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: compute-engine

#519 feat: filter task in/outputs by kind
  CHANGELOG.md
  backend/api/tests/views/test_views_computetask.py
  backend/api/views/computetask.py
Labels: api

#513 feat: remove task specific endpoints
  CHANGELOG.md
  backend/api/events/sync.py
  backend/api/serializers/__init__.py
  backend/api/serializers/computetask.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/urls.py
  backend/api/views/computetask.py
  backend/api/views/utils.py
Labels: api

#515 feat: return {train,test}_data_sample_keys fields in data manager "list" API responses
  CHANGELOG.md
  backend/api/tests/views/test_views_datamanager.py
  backend/api/views/datamanager.py
Labels: api

#486 feat(workflow_graph): extract input/outputs from db
  CHANGELOG.md
  backend/api/tests/views/test_views_compute_plan_graph.py
  backend/api/views/compute_plan_graph.py
Labels: api

#526 feat: remove task specific data
  CHANGELOG.md
  backend/orchestrator/computetask_pb2.py
  backend/orchestrator/computetask_pb2.pyi
  backend/substrapp/compute_tasks/lock.py
Labels: compute-engine
