Repository Substra/substra-backend, pull requests merged in 2023-09, with the labels that each got.

#728 [sub]fix: add missing migration poc
  backend/substrapp/migrations/0017_alter_computetaskfailurereport_logs_and_more.py
Labels: api, compute-engine

#718 chore: bump to pydantic 2.3.0
  .gitignore
  CHANGELOG.md
  backend/orchestrator/resources.py
  backend/requirements.txt
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: compute-engine

#742 [sub]fix(app/orchestrator/resources): FunctionStatus.FUNCTION_STATUS_CREATED -> FunctionStatus.FUNCTION_STATUS_WAITING
  backend/api/events/sync.py
  backend/api/migrations/0054_alter_function_status.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_function.py
  backend/orchestrator/mock.py
  backend/orchestrator/resources.py
Labels: api
