Repository Substra/substra-backend, pull requests merged in 2023-04, with the labels that each got.

#637 fix: increase max attempts for kaniko and return logs instead of raising
  CHANGELOG.md
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/kubernetes_utils.py
Labels: compute-engine

#635 feat: Add functionName to workflow view & allow ordering in tasks
  CHANGELOG.md
  backend/api/tests/views/test_views_compute_plan_graph.py
  backend/api/views/compute_plan_graph.py
  backend/api/views/computetask.py
Labels: api

#610 chore: add instructions for dev installation with conda in readme
  README.md
Labels: documentation
