Repository Substra/substra-backend, pull requests merged in 2023-08, with the labels that each got.

#691 feat: allow retries on task profiling steps
  CHANGELOG.md
  backend/api/serializers/task_profiling.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_task_profiling.py
  backend/api/views/task_profiling.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  backend/substrapp/utils/url.py
Labels: api, compute-engine

#705 chore!: rename the "message" field in API responses to "detail"
  CHANGELOG.md
  backend/api/errors.py
  backend/api/tests/views/test_exception_handler.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/tests/views/test_views_datasample.py
  backend/api/tests/views/test_views_function.py
  backend/api/views/compute_plan_graph.py
  backend/api/views/datasample.py
  backend/api/views/exception_handler.py
  backend/api/views/utils.py
  backend/backend/views.py
  backend/users/tests/test_user.py
  backend/users/views/authentication.py
  backend/users/views/user.py
Labels: api

#707 feat: build function at registration
  backend/backend/celery.py
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/task.py
  backend/builder/tasks/tasks_build_image.py
  backend/substrapp/clients/organization.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/events/reactor.py
  backend/substrapp/tasks/tasks_compute_task.py
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/statefulset-builder.yaml
Labels: compute-engine

#671 chore!: stop writing on root file system
  CHANGELOG.md
  backend/backend/settings/common.py
  backend/backend/settings/deps/secret_key.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-scheduler.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/templates/secret-server-key.yaml
  docs/settings.md
  tools/build_settings_doc.py
Labels: documentation

#698 feat: improve ImplicitBearerToken
  CHANGELOG.md
  backend/api/tests/views/test_views_authentication.py
  backend/api/views/exception_handler.py
  backend/backend/exceptions.py
  backend/backend/settings/common.py
  backend/backend/settings/deps/restframework.py
  backend/backend/views.py
  backend/users/authentication.py
  backend/users/migrations/0007_implicitbearertoken_id_and_more.py
  backend/users/models/token.py
  backend/users/serializers/token.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/configmap-settings.yaml
  charts/substra-backend/values.yaml
  docs/authentication.md
  docs/settings.md
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  tools/build_settings_doc.py
Labels: documentation, api

#708 feat: share images between backends
  backend/api/views/function.py
  backend/builder/image_builder/image_builder.py
  backend/builder/tasks/tasks_build_image.py
  backend/image_transfer/__init__.py
  backend/image_transfer/common.py
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/requirements.txt
  backend/substrapp/clients/organization.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/events/reactor.py
  backend/substrapp/migrations/0015_alter_computetaskfailurereport_logs.py
  backend/substrapp/migrations/0016_add_functionimage.py
  backend/substrapp/models/__init__.py
  backend/substrapp/models/function.py
  backend/substrapp/serializers/function.py
  backend/substrapp/tasks/__init__.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tasks/tasks_save_image.py
  docker/substra-backend/Dockerfile
Labels: api, compute-engine
