Repository Substra/substra-backend, pull requests merged in 2023-05, with the labels that each got.

#641 fix: make BuildError serialisable by Celery in case of retry
  CHANGELOG.md
  backend/substrapp/compute_tasks/errors.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/tests/compute_tasks/test_image_builder.py
  backend/substrapp/tests/test_kubernetes_utils.py
Labels: compute-engine

#636 feat: refactor task profiling fix
  CHANGELOG.md
  backend/api/serializers/task_profiling.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_task_profiling.py
  backend/api/views/task_profiling.py
  backend/api/views/utils.py
  backend/substrapp/clients/organization.py
  backend/substrapp/exceptions.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  backend/substrapp/tests/utils/test_url.py
  backend/substrapp/utils/url.py
Labels: api, compute-engine

#634 feat!: multiple performance per task
  CHANGELOG.md
  backend/api/events/sync.py
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0051_alter_performance_unique_together_and_more.py
  backend/api/models/computetask.py
  backend/api/models/performance.py
  backend/api/serializers/computetask.py
  backend/api/serializers/performance.py
  backend/api/tests/asset_factory.py
  backend/api/tests/test_sync.py
  backend/api/tests/views/test_views_performance.py
  backend/api/views/performance.py
  backend/orchestrator/performance_pb2.py
  backend/orchestrator/performance_pb2.pyi
Labels: api

#653 fix: migration 0051
  backend/api/migrations/0051_alter_performance_unique_together_and_more.py
Labels: api

#654 fix: migrate asset key
  backend/api/migrations/0051_alter_performance_unique_together_and_more.py
  backend/api/migrations/0052_alter_performance_unique_together_and_more.py
  backend/api/migrations/0052_remove_metric_from_performance.py
Labels: api

#655 fix: remove get() in migration 52
  backend/api/migrations/0052_remove_metric_from_performance.py
Labels: api

#656 fix: migrate metric output identifier
  backend/api/migrations/0051_alter_performance_unique_together_and_more.py
Labels: api

#639 feat!: add support for multiple API tokens with expanded functionality
  CHANGELOG.md
  backend/api/tests/common.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_authentication.py
  backend/api/tests/views/test_views_token.py
  backend/backend/settings/common.py
  backend/backend/settings/deps/restframework.py
  backend/backend/views.py
  backend/users/authentication.py
  backend/users/migrations/0005_implicitbearertoken_bearertoken.py
  backend/users/migrations/0006_alter_bearertoken_user.py
  backend/users/models/__init__.py
  backend/users/models/token.py
  backend/users/serializers/token.py
  backend/users/utils/__init__.py
  backend/users/utils/bearer_token.py
  docs/authentication.md
  docs/settings.md
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
Labels: documentation, api
