Repository Substra/substra-backend, pull requests merged in 2023-03, with the labels that each got.

#614 chore: remove `ComputeTask` pre GT links
  CHANGELOG.md
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0048_remove_computetask_data_samples_and_more.py
  backend/api/migrations/0049_remove_computetask_data_manager.py
  backend/api/models/computetask.py
  backend/api/models/datamanager.py
  backend/api/models/datasample.py
  backend/api/serializers/computetask.py
  backend/api/serializers/datamanager.py
  backend/api/serializers/performance.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_computeplan.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/tests/views/test_views_datasample.py
  backend/api/tests/views/test_views_function.py
  backend/api/tests/views/test_views_performance.py
  backend/api/views/computeplan.py
  backend/api/views/computetask.py
  backend/api/views/datamanager.py
  backend/api/views/datasample.py
  backend/api/views/function.py
Labels: api

#611 fix: improve perf loading
  CHANGELOG.md
  backend/api/serializers/performance.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_performance.py
  backend/api/views/performance.py
Labels: api

#615 chore: refactor input loop in `get_exec_command_args`
  CHANGELOG.md
  backend/substrapp/compute_tasks/command.py
Labels: compute-engine

#607 fix: improve performance in dataset loading
  CHANGELOG.md
  backend/api/migrations/0050_alter_datamanager_channel.py
  backend/api/models/datamanager.py
  backend/api/tests/views/test_views_datamanager.py
  backend/api/views/datamanager.py
Labels: api

#609 feat: SSO through OpenID Connect
  .github/workflows/helm.yml
  CHANGELOG.md
  backend/backend/settings/deps/ledger.py
  backend/backend/settings/deps/oidc.py
  backend/backend/settings/deps/restframework.py
  backend/backend/settings/dev.py
  backend/backend/settings/localdev.py
  backend/backend/settings/prod.py
  backend/backend/settings/test.py
  backend/backend/urls.py
  backend/backend/views.py
  backend/libs/expiry_token_authentication.py
  backend/requirements.txt
  backend/users/authentication.py
  backend/users/migrations/0004_useroidcinfo.py
  backend/users/models/__init__.py
  backend/users/models/user_oidc_info.py
  backend/users/serializers/user.py
  backend/users/tests/test_user.py
  backend/users/utils/__init__.py
  backend/users/utils/bearer_token.py
  backend/users/utils/oidc.py
  backend/users/utils/utils.py
  backend/users/views/authentication.py
  charts/Makefile
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/configmap-oidc.yaml
  charts/substra-backend/templates/deployment-server.yaml
  charts/substra-backend/values.yaml
  docs/authentication.md
  docs/settings.md
  docs/user_management.md
  examples/secrets/secret-oidc-org-1.yaml
  examples/secrets/skaffold.yaml
  examples/values/backend-org-1.yaml
  tools/build_settings_doc.py
Labels: documentation, python
