Repository Substra/substra-backend, pull requests merged in 2024-03, with the labels that each got.

#845 fix: enforce use of `safezip` and `tarsafe`
  CHANGELOG.md
  backend/api/views/datasample.py
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/serializers/utils.py
  backend/substrapp/utils/__init__.py
  backend/substrapp/utils/safezip.py
  backend/substrapp/utils/tarsafe.py
Labels: api

#846 fix: add timeouts on OIDC requests
  CHANGELOG.md
  backend/backend/settings/mods/oidc.py
  backend/users/authentication.py
  docs/settings.md
Labels: documentation

#827 feat: update computeplan status
  CHANGELOG.md
  backend/api/events/dynamic_fields.py
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0057_alter_computeplan_status_alter_computetask_status.py
  backend/api/migrations/0058_alter_compute_task_status.py
  backend/api/models/computeplan.py
  backend/api/models/computetask.py
  backend/api/tests/asset_factory.py
  backend/api/tests/models/test_models_computeplan.py
  backend/api/tests/views/conftest.py
  backend/api/tests/views/test_views_computeplan.py
  backend/api/tests/views/test_views_computetask.py
  backend/api/tests/views/test_views_newsfeed.py
  backend/api/tests/views/test_views_performance.py
  backend/api/tests/views/test_views_task_profiling.py
  backend/orchestrator/computetask_pb2.py
  backend/orchestrator/computetask_pb2.pyi
  backend/orchestrator/resources.py
  backend/substrapp/compute_tasks/compute_task.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/compute_tasks/test_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: api, compute-engine

#847 fix: check builder exists on create
  CHANGELOG.md
  backend/api/tests/views/test_views_function.py
  backend/api/views/function.py
  backend/backend/settings/server/common.py
  backend/backend/settings/server/dev.py
  backend/backend/settings/server/prod.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/configmap-settings.yaml
Labels: api

#852 fix: add data migration for computeplan status
  backend/api/migrations/0059_data_migration_computeplan.py
Labels: api

#853 fix: migration changed `category` to `status`
  backend/api/migrations/0056_alter_computetask_status.py
  backend/api/migrations/0057_alter_computeplan_status_alter_computetask_status.py
  backend/api/migrations/0059_data_migration_computeplan.py
Labels: api

#854 fix: migration changed `category` to `status`
  backend/api/migrations/0058_alter_compute_task_status.py
Labels: api

#855 docs(README): fix badge & typo
  README.md
Labels: documentation

#861 chore: set up towncrier for changelog management
  CHANGELOG.md
  README.md
  backend/dev-requirements.txt
  changes/861.changed
  pyproject.toml
Labels: documentation

#860 chore!: remove type in DataManager model
  backend/api/migrations/0059_remove_datamanager_type.py
  backend/api/models/datamanager.py
  backend/api/serializers/datamanager.py
  backend/api/tests/asset_factory.py
  backend/api/tests/views/test_views_datamanager.py
  changes/.gitkeep
  changes/860.changed
Labels: api
