Repository Substra/substra-backend, pull requests merged in 2024-04, with the labels that each got.

#879 chore: add private certificates to kaniko (patch version)
  CHANGELOG.md
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  charts/substra-backend/templates/statefulset-worker.yaml
  docs/settings.md
Labels: documentation, compute-engine

#880 [sub]feat: add worker certificates to kaniko
  backend/backend/settings/common.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/Chart.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  docs/settings.md
Labels: documentation, compute-engine

#882 [sub] fix: wrong secret name
  backend/substrapp/compute_tasks/image_builder.py
Labels: compute-engine

#883 feat: separate download function from execute task
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/tasks/task.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  changes/1520.added
Labels: compute-engine

#884 chore: remove building from task profiling
  backend/api/serializers/task_profiling.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
  changes/1517.removed
Labels: api, compute-engine

#877 feat: add privateCa to kaniko pods
  backend/backend/settings/common.py
  backend/builder/apps.py
  backend/builder/image_builder/image_builder.py
  backend/builder/kubernetes.py
  changes/877.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation

#867 chore: add limits and requests to pods
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

#888 chore: parametrize user image docker repository
  backend/backend/settings/common.py
  backend/image_transfer/decoder.py
  backend/image_transfer/tests/test_decoder.py
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/docker_registry.py
  changes/888.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/configmap-registry.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
  examples/values/backend-org-1.yaml
  examples/values/backend-org-2.yaml
  examples/values/backend-org-3.yaml
Labels: documentation, compute-engine

#891 revert: add limits and requests to pods (#867)
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/values.yaml
Labels: compute-engine

#892 chore: add limits and requests configuration in values (#867)
  backend/backend/settings/common.py
  backend/builder/image_builder/image_builder.py
  backend/substrapp/compute_tasks/compute_pod.py
  backend/substrapp/kubernetes_utils.py
  backend/substrapp/tasks/task.py
  changes/892.added
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/deployment-api-events.yaml
  charts/substra-backend/templates/deployment-registry-prepopulate.yaml
  charts/substra-backend/templates/deployment-worker-events.yaml
  charts/substra-backend/templates/statefulset-builder.yaml
  charts/substra-backend/templates/statefulset-worker.yaml
  charts/substra-backend/values.yaml
  docs/settings.md
Labels: documentation, compute-engine
