Repository Substra/substra-backend, pull requests merged in 2024-02, with the labels that each got.

#817 chore: rm hlf-k8s mention on readme
  README.md
Labels: documentation

#807 fix: AssetFailureReport propagation
  CHANGELOG.md
  backend/api/events/sync.py
  backend/api/tests/asset_factory.py
  backend/api/tests/test_sync.py
  backend/api/tests/views/test_views_failed_asset_logs.py
  backend/api/views/failed_asset_logs.py
  backend/substrapp/migrations/0019_assetfailurereport_logs_address_and_more.py
  backend/substrapp/models/asset_failure_report.py
  backend/substrapp/serializers/asset_failure_report.py
  backend/substrapp/utils/errors.py
Labels: api

#740 feat: ensure building order
  CHANGELOG.md
  backend/backend/settings/test.py
  backend/builder/tasks/task.py
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/dev-requirements.txt
  backend/substrapp/tasks/task.py
  backend/substrapp/tasks/tasks_save_image.py
Labels: compute-engine

#819 chore: remove `wait_for_image_built`
  CHANGELOG.md
  backend/substrapp/compute_tasks/image_builder.py
  backend/substrapp/events/reactor.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: compute-engine

#823 feat!: add new compute tasks status linked to function status
  CHANGELOG.md
  backend/api/management/commands/generate_fixtures.py
  backend/api/migrations/0056_alter_computetask_status.py
  backend/api/models/computeplan.py
  backend/api/models/computetask.py
  backend/api/tests/asset_factory.py
  backend/api/tests/models/test_models_computeplan.py
  backend/api/tests/test_sync.py
  backend/api/tests/views/test_views_compute_plan_graph.py
  backend/api/tests/views/test_views_computeplan.py
  backend/api/tests/views/test_views_computetask.py
  backend/orchestrator/computetask_pb2.py
  backend/orchestrator/computetask_pb2.pyi
  backend/orchestrator/mock.py
  backend/orchestrator/resources.py
  backend/substrapp/compute_tasks/compute_task.py
  backend/substrapp/events/reactor.py
  backend/substrapp/tests/compute_tasks/test_compute_task.py
Labels: api, compute-engine

#771 refactor(ci): refactor helm GHA workflow
  .github/workflows/conventional-pr.yml
  .github/workflows/helm.yml
Labels: github_actions

#833 fix: load remote image once
  CHANGELOG.md
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tests/tasks/test_compute_task.py
Labels: compute-engine

#726 fix(charts): PSP replaced by PSA baseline
  .github/workflows/docker-build.yaml
  CHANGELOG.md
  charts/substra-backend/CHANGELOG.md
  charts/substra-backend/Chart.yaml
  charts/substra-backend/README.md
  charts/substra-backend/templates/_helpers.tpl
  charts/substra-backend/templates/pod-security-policy.yaml
  charts/substra-backend/templates/rbac.yaml
  charts/substra-backend/values.yaml
  docker/ca-cert-injector/Dockerfile
  skaffold.yaml
Labels: github_actions
