Repository Substra/substra-backend, pull requests merged in 2024-06, with the labels that each got.

#911 feat: catch all exceptions on builder to fail properly
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/substrapp/tasks/tasks_compute_task.py
  changes/911.fixed
Labels: compute-engine

#924 fix: bypass asset failure creation when internal error
  backend/api/events/sync.py
  backend/api/tests/test_sync.py
  changes/924.fixed
Labels: api

#926 feat: repackage 412 Harbor error into a user-friendly error
  backend/image_transfer/decoder.py
  backend/image_transfer/encoder.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/docker_registry.py
  backend/substrapp/tasks/tasks_save_image.py
  backend/substrapp/tests/tasks/test_save_image.py
  changes/926.added
  changes/926.fixed
Labels: compute-engine

#886 feat: add profiling step functions
  backend/api/events/reactor.py
  backend/api/events/sync.py
  backend/api/migrations/0060_functionprofilingstep.py
  backend/api/models/__init__.py
  backend/api/models/task_profiling.py
  backend/api/views/computeplan.py
  backend/api/views/computetask.py
  backend/api/views/datamanager.py
  backend/api/views/datasample.py
  backend/api/views/function.py
  backend/backend/views.py
  backend/builder/tasks/task.py
  backend/builder/tasks/tasks_build_image.py
  backend/builder/tests/test_task_build_image.py
  backend/libs/health_check_middleware.py
  backend/orchestrator/__init__.py
  backend/orchestrator/client.py
  backend/orchestrator/common_pb2.py
  backend/orchestrator/common_pb2.pyi
  backend/orchestrator/event_pb2.py
  backend/orchestrator/event_pb2.pyi
  backend/orchestrator/profiling_pb2.py
  backend/orchestrator/profiling_pb2.pyi
  backend/orchestrator/profiling_pb2_grpc.py
  backend/orchestrator/profiling_pb2_grpc.pyi
  backend/orchestrator/resources.py
  backend/organization_register/apps.py
  backend/substrapp/compute_tasks/context.py
  backend/substrapp/compute_tasks/execute.py
  backend/substrapp/compute_tasks/outputs.py
  backend/substrapp/events/reactor.py
  backend/substrapp/orchestrator.py
  backend/substrapp/tasks/tasks_asset_failure_report.py
  backend/substrapp/tasks/tasks_compute_plan.py
  backend/substrapp/tasks/tasks_compute_task.py
  backend/substrapp/tasks/tasks_outputs.py
  backend/substrapp/tasks/tasks_save_image.py
  backend/substrapp/tests/compute_tasks/test_outputs.py
  backend/substrapp/tests/tasks/test_compute_task.py
  changes/1519.added
  changes/1519.changed
Labels: api, compute-engine

#932 fix: casting when receiving `FunctionProfilingStep`
  backend/api/events/sync.py
  changes/932.fixed
Labels: api
